<!-- Footer -->
<footer class="pt-2 footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mb-1 mx-auto">
                <h3>Links</h3>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class: "" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "About", about_me_path, class: "" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Contact", contact_us_path, class: "" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mb-1 mx-auto">
                <h3>Created by</h3>
                <div class="text-secondary">
                    Daniel Kukula
                    All Rights reserved
                    2017-2018<br>
                    Graphics kindly provided by Roksana Godzierz<br>
                    Homepage background video by <a href="https://m.youtube.com/channel/UCJFoMrK06Be-kFaQAo52dmQ">HowardFreeman Motivation</a>
                </div>
            </div>    
        </div>
    </div>
</footer>
