
<footer class="mastfoot">
  <div class="inner">
    <%= link_to "Home", root_path, class: "" %>
    <%= link_to "About", about_me_path, class: "" %>
    <%= link_to "Contact", contact_path, class: "" %>
    <p>Copyright 2017 Daniel Kukula</p>
  </div>
</footer>
