<div class="container">
    
<h1>About</h1>
<p>This website is one of the projects done during my bachelors degree in full stack development. It utilizes ruby on rails and bootstrap. If you looking for a web developer check my other projects on <a href="http://daniel-kukula-portfolio.herokuapp.com" target="_blank">my portfolio page.</a> and feel free to <%=link_to  "contact me", contact_us_path %> </p>
</div>
