<div class="jumbotron-bg">
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Move & Groove</h1>
        <p class="lead">Where do you want to burn calories today ?</p>
    </div>
</div>
</div>
