/* Bootstrap overrides */
$theme-colors: (
  "primary": #00999d,
  "secondary": #ff9800,
);

@import "bootstrap";

/*
 *= require rails_bootstrap_forms
 */

/*
 e Globals
 */
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Mitr', sans-serif;
}
.inline {
    display: inline-block;
}

.jumbotron{
    background-image: asset_url('front.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    padding-top: 6rem;
}

.button{
    color: black;
    background-color: #ff9800;
    border: 2px solid #ff9800;
    padding: 0 1rem;
    float: right;
    font-size: 16px;
    border-radius: 40px;
    display: inline-block;
    line-height: 1.6;
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 1px 4px rgba(0,0,0,.2);
}

