/* Bootstrap overrides */
$theme-colors: (
"primary": #00999d,
"secondary": #ff9800,
);
$pg-blue: #00999d;

$navbar-dark-color:                 rgba($pg-blue, .75) ;
$navbar-dark-hover-color:           rgba($pg-blue, .95) ;
$navbar-dark-active-color:          $pg-blue !default;
$navbar-dark-disabled-color:        rgba($pg-blue, .25) !default;
@import "bootstrap";

/*
 *= require rails_bootstrap_forms
 */

/*
e Globals
 */
html{
    font-family: 'Roboto', sans-serif;
} 
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mitr', sans-serif;
}

.inline {
    display: inline-block;
}

.jumbotron{
    height: 65vh;
    width: 100%;
    padding-top: 6rem;
}

.jumbotron-text{
    padding-top: 20vh;
    text-shadow: 5px 5px 10px black;
}

.button{
    color: black;
    background-color: #ff9800;
    border: 2px solid #ff9800;
    padding: 0 1rem;
    float: right;
    font-size: 16px;
    border-radius: 40px;
    display: inline-block;
    line-height: 1.6;
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 1px 4px rgba(0,0,0,.2);
}

.nav-link {
    font-size: 1.3rem;
    text-shadow: 2px 2px 5px black;

}
